<header class="main-header">
    <nav class="main-nav">
        <ul>
            <li><a href="/projets/serveur_web_TP/views/home.ejs">Accueil</a></li>
            <li><a href="/projets/serveur_web_TP/views/shop.ejs">shop</a></li>
            <li><a href="/projets/serveur_web_TP/views/panier.ejs">panier</a></li>
        </ul>
    </nav>
    <h1 class="main-title
</header>
